.tableHead {
  background-color: rgba(12, 93, 159, 1);
}

.tableHeadCell {
  font-size: 16px !important;
  color: white !important;
  background-color: rgba(12, 93, 159, 1) !important;
  height: 25px !important;
}

.tableHeaderTitleCell {
  color: var(--primary-color) !important;
  font-weight: bolder !important;
  background-color: rgba(230, 240, 250, 1);
  font-size: 16px;
}

.tableTitleCell {
  font-size: 16px !important;
  color: var(--primary-color) !important;
}

.tableHeadCellLarge {
  width: 40%;
}

.tableHeadCellSmall {
  width: 8%;
}

.tableHeadCellMedium {
  width: 14%;
}
